body{
    min-height: 100vh;
}
#gameBoard{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    max-width: 400px;
    margin: auto;
    align-items: center;
    background-color: aquamarine;
}
.gamecell{
    cursor: pointer;
    background-color: aliceblue;
    min-height: 120px;
    align-self: center;
    text-align: center;
    line-height: 120px;
    font-size: 60px;
}